<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Marvis</title>
    <meta charset="UTF-8">

  </head>
    <body>
      <div id="log" style="width:600px; height:300px">

        <h1>WELCOME TO CHURCH!</h1>

      </div>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script>
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/marvis');
    //receive details from server
    socket.on('result', function(msg) {
        console.log("Received result");
        //maintain a list of ten numbers

        $('#log').html(msg.data);
        });
</script>
    </body>
</html>